# Compiled
*.elc

# Packaging
.cask
/elpa

# Save Files
/recentf
/var
/savefile

# Tools and etc
.trello
/tramp
/anaconda-mode
/ensime
/projectile-bookmarks.eld
/projectile.cache
/eshell
/request
/url
/network-security.data
.org-id-locations
/.python-environments
