# Compiled
*.elc

# Packaging
.cask
/elpa
/projectile-bookmarks.eld
/projectile.cache
/recentf
/var
/savefile/custom.el
/savefile/saved-places
/savefile/recentf
/ensime/classpath_2.11.7_0.9.10-SNAPSHOT
/savefile/saveplace
