[submodule "vendor/dired-plus"]
	path = vendor/dired-plus
	url = https://github.com/emacsmirror/dired-plus
[submodule "vendor/bookmark-plus"]
	path = vendor/bookmark-plus
	url = https://github.com/emacsmirror/bookmark-plus
[submodule "vendor/flycheck-elm"]
	path = vendor/flycheck-elm
	url = https://github.com/bsermons/flycheck-elm.git
